.r-container{
    overflow: hidden;
    position: relative;
}

.r-head{
    margin-bottom: 2rem;

}

.r-card{
    gap:0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    transition: all 30ms ease-in-out;

}

.r-card>img{
    width: 100%;
    max-width: 15rem;
}
.r-card>:nth-child(2){

    font-size: 1.2rem;
    font-weight: 600;
}

.r-card>:nth-child(3){

    font-size: 1.5rem;
   
}

.r-card>:nth-child(4){

    font-size: 0.7rem;
    width: 15rem;
}

.r-card:hover{
    scale:1.025;
    cursor: pointer;
    background: var(--green);
    box-shadow: Ox 72px 49px -51px rgba(136, 160, 255, 0.21);
    
}

.swiper-container{
    overflow:  visible;
    
}

.r-buttons{
    gap:1rem;
    top:0;
    right : 0; 
    z-index: 1000;
}

.r-buttons>button{
    z-index: 1000;
    font-size: 1.2rem !important;
    padding : 0.2rem 0.8rem !important;
    color:blue !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}
